<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="keywords" content="大学生探索网,在线报名">
	<meta name="description" content="大学生探索网,在线报名">
	<!-- SITE TITLE -->
	<title><%=title %></title>

	<!-- STYLESHEETS -->
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link rel='stylesheet' href="css/fonts.useso.css" type='text/css'>
</head>
<body data-spy="scroll" data-target="#rock-navigation">
	<!-- START NAVIGATION -->
	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><%=head_title %></a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<li><a href="#home" class="smoothScroll">主页</a></li>
					<li><a href="#work" class="smoothScroll">招新部门</a></li>
					<!-- <li><a href="#portfolio" class="smoothScroll">代表作品集</a></li> -->
					<li><a href="#contact" class="smoothScroll">报名</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- END NAVIGATION -->

	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<h1 class="tm-home-title"><strong>Join Us</strong></h1>
					<h2 class="tm-home-subtitle">Create Something New</h2>
					<p>我在这里 、期待着你的加入 ！</p>
					<a href="#contact" class="btn btn-default smoothScroll tm-view-more-btn">立即报名</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	<!-- START work -->
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<h2 class="title">招新 <strong>部门</strong></h2>						
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-connectdevelop"></i>
						<h3 class="text-uppercase tm-work-h3">网站运维部</h3>
						<hr>
						<p>前端：负责网站的表现层和结构层以及网站的视觉设计和前台代码实现。</p>
						<p>开发：Web应用开发、Android开发，服务器运维等。
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-phone"></i>
						<h3 class="text-uppercase tm-work-h3">服务平台</h3>
						<hr>
						<p>服务平台：负责电话解决校园网络故障问题，及时了解反馈学生用网情况，辅助维护校园网络的正常运行，保证校园网络的畅通无阻。</p>
						<p>企划：专题策划、探索网下辖网站的数据录入。</p>
						
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="work-wrapper">
						<i class="fa fa-server"></i>
						<h3 class="text-uppercase tm-work-h3">网络运维部</h3>
						<hr>
						<p>网络维护：校园网故障及硬件故障处理，学生宿舍的基本网络维护，并协助学校网络管理中心对各宿舍楼宇交换机等网络设备进行管理维护及网络知识普及。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END work -->
	<!-- START SOCIAL -->
	<section id="social" class="tm-social">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.3s">
					<div class="media facebook">
						<a href="http://weibo.com/u/2942360143">
							<div class="media-object pull-left">
								<i class="fa fa-weibo"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">关注我们</h4>
								<h3>微博</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.6s">
					<div class="media twitter">
						<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=ea533d0fb5e1def984a365f231a70f0dc1b7e75d3ce8e581fc3eb697f720c5ee">
							<div class="media-object pull-left">
								<i class="fa fa-qq"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">招新QQ群</h4>
								<h3>488700968</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.9s">
					<div class="media pinterest">
						<a href="javascript:">
							<div class="media-object pull-left">
								<i class="fa fa-wechat"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">微信</h4>
								<h3>lnuttswfwt</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END SOCIAL -->

	<!-- START CONTACT -->
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">					
					<h2 class="title">Leave your resume on your high</h2>
					<hr>					
				</div>

				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<form id="onlineForm" action="" method="post">
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="name" placeholder="你的名字">
						</div>
						<div class="col-md-6 col-sm-6">
							<select name="sex" class="form-control required" >
								<option selected disabled="">你的性别</option>
								<option>男</option>
								<option>女</option>
							</select>
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="home" placeholder="你的籍贯">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="birth" placeholder="出生年月 格式为 2009-06-23">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="college" placeholder="学院">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="classes" placeholder="班级">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="stuNum" placeholder="学号">
						</div>						
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="tel" placeholder="电话">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="qq" placeholder="QQ">
						</div>
						<div class="col-md-6 col-sm-6">
							<input class="form-control required" type="text" name="desire" placeholder="你的意向？前端/开发/服务平台/企划/网络维护">
						</div>
						<div class="col-md-12 col-sm-12">
							<textarea id="youSay" class="form-control" name="reason" placeholder="让我了解你的爱好/特长/申请加入的理由" rows="6"></textarea>
							<p style="padding-top:0; text-align:right">还可输入<span id="textCount">200</span>字</p>
						</div>
						<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
							<input class="form-control submit" type="submit" value="提交">
						</div>
					</form>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-12 col-sm-12">
					<p>Copyright &copy; 2015 All Rights Reserved. 大学生探索网 版权所有
					<br /> Powered By <a href="http://www.weibo.com/kingzez" target="_blank" title="王泽知">wangzezhi</a><!--  电信学院 电子121班 --></p>
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/validate.js"></script>
	<script src="js/messages_cn.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/imagesloaded.min.js"></script>
	<script src="js/custom.js"></script>
<script>
	$().ready(function() {
		$("#onlineForm").validate();
	});
</script>
<script type="text/javascript"> 
$(document).ready(function(){
	$("#youSay").keydown(function(){
		var curLength=$("#youSay").val().length;	
		if(curLength>=200){
			var num=$("#youSay").val().substr(0,999);
			$("#youSay").val(num);
			alert("字数超过限制啦、多出的字会没有的、有想说的见面说哦" );
		}
		else{
			$("#textCount").text(199-$("#youSay").val().length)
		}
	})
})
</script>
        <!--conduct IE6-->
		<script type="text/javascript">
        if (window.ActiveXObject) {
           var ua = navigator.userAgent.toLowerCase();
           var ie=ua.match(/msie ([\d.]+)/)[1]
           if(ie==8.0){
             alert("浏览器版本过低哦");
             window.close();
           }
        }
        </script>		

</body>
</html>
